
    <main role="main" class="container">

      <div class="starter-template">
        <h1>Bem vindo ao ShipList</h1>
        <p class="lead">Faça sua lista de compras aqui!<br>
        Quando chegar no superMercado acesse nossa página e não esqueça de nada.</p>
      </div>

    </main>